<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<div class="navbar-lewagon">
  <div class="logo">
    <%= link_to cocktails_path do %>
      <i class="fas fa-cocktail"></i> Mr Cocktail
      <% end %>
  </div>
<!--  Right navigation-->
  <div class="navbar-wagon-right">
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
