// Specific CSS for your home-page
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

//.cocktail-header h2 {
//  //font-size: 25px !important;
//  color: red !important;
//}
