.recipe {
  text-align: left;
  margin-top: 3px;
}

.cocktail-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 24px;
  justify-content: space-evenly;
}

.show-recipe {
  text-align: left;
}
