.recipe {
  text-align: left;
  margin-top: 3px;
}

.cocktail-container {
  //display: flex;
  margin: 0 auto;
  //margin-left: auto;
  //padding-right: 15px;
  //padding-left: 15px;
  //margin-top: 24px;
  width: 90%;
  //justify-content: space-between;
}

.show-recipe {
  text-align: left;

}

.show-link a {
  text-decoration: none;
  &:hover {
    font-weight: bold;
  }
}
