.recipe {
  text-align: left;
  margin-top: 3px;
}

.cocktail-container {
  margin: 0 auto;
  width: 90%;
}

.show-recipe {
  text-align: left;

}

.show-link a {
  text-decoration: none;
  &:hover {
    font-weight: bold;
  }
}
