.cocktail-banner {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 50vh;
  color: #eee;
  text-align: center;
  padding-top: 20vh;
}

.home-banner {
  display: flex;
  background-position: center;
  background-size: cover;
  height: 55vh;
  color: #eee;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
}

.new-banner {
  display: flex;
  background-position: center;
  background-size: cover;
  height: 25vh;
  color: #eee;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-text {
  width: 900px;
  margin: 0 auto;
}
