.banner {
  display: flex;
  background-position: center;
  background-size: cover;
  height: 280px;
  color: #eee;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.home-banner {
  display: flex;
  background-position: center;
  background-size: cover;
  height: 400px;
  color: #eee;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  //position: relative;
}

.banner-text {
  width: 900px;
  margin: 0 auto;
}
