a.card-links {
  text-decoration: none;
  &:hover p {
    font-weight: bold;
    font-size: 24px;
  }
}

.card-links p {
  font-size: 22px;
}

.card-img {
  display: flex;
  background-position: center;
  background-size: cover;
  color: #eee;
  align-items: center;
  background-repeat: no-repeat;
  height: 350px;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

.cocktail-card-text {
  margin: 0 auto;
  text-align: center;
}

.card-review {
  background-color: #F4F4F4;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 8px;
  width: 80%;
  i {
    color: rgb(120,120,120);
  }
}
