.dose-form {
  text-align: left;
  width: 350px;
}

.new-form {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 350px;
}

.form-navbar input::placeholder {
  font-size: 13px;
}
label, input {
  font-family: Libre Baskerville, serif;
  font-size: 13px;
}
