.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 25px;
  background: transparent;
  box-shadow: 0 0 0 0;
  transition: 0.4s background-color ease;

  h4 {
    color: #ffff !important;
  }

  img {
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
  }
}

.navbar-lewagon-white {
  background-color: white;

  h4 {
    color: #000000 !important;
  }

  img {
    filter: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
