// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'select2/dist/css/select2';


a {
  text-decoration: none;
  color: inherit;
  font-family: $headers-font;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

a i {
  font-size: 2rem;
  padding: 8px;
  opacity: 0.8;
  &:hover {
    color: #7e7474;
    text-decoration: none;
  }
}

h1 {
  font-size: 3.157rem;
  font-family: $headers-font;
}

h2 {
  font-size: 42px;
  font-family: $headers-font;
}

h3 {
  font-size: 31px;
  font-family: $headers-font;
}

p {
  font-size: 18px;
  font-family: $body-font;
  opacity: 0.8;
}

h4 {
  font-size: 24px;
  font-family: $headers-font;
}

label {
  font-size: 16px;
  font-family: $body-font;
  opacity: 0.8;
}

input {
  font-size: 14px;
  font-family: $body-font;
}

